book8/src/chapter5/movies.dtd

<?xml version="1.0" encoding="UTF-8"?>
        <!ELEMENT Movies (Movie*)>
        <!ELEMENT Movie (Title, Price)>
        <!ATTLIST Movie year CDATA #REQUIRED>
        <!ELEMENT Title (#PCDATA)>
        <!ELEMENT Price (#PCDATA)>

<!--General form of ELEMENT tag:
    <!ELEMENT element (content)>

    ATTLIST provides the name of each attribute. General form:
        <!ATTLIST element attribute type default-value>-->